body{
    position:relative;
}

body>.container-fluid {
    max-width:960px
}

/*Common classes*/
.center-message {
    margin:0 auto;
    text-align:center
}

/*Logo*/
#ms-logo {
  margin: 2rem auto;
}
#ms-logo .img {
  /*width:100%;*/
  /*max-width:700px;*/
}


/*Intro*/
#ms-intro {
    padding: 10px 0;
}
#ms-intro p {
    max-width: 700px;
/*    margin: 0 auto;*/
/*    text-align: center;*/
}
#ms-intro .btn {
    margin:10px;
}


/*Navigation*/
#ms-navigation{
    background-color:#fff;
}

/*Map*/


/*Testimonials*/
#ms-testimonials blockquote p {
    font-size:0.8em;
}
#ms-testimonials blockquote footer {
    font-size:0.6em;
}

/*Footer*/
#ms-footer {
    background:#fff
}
#ms-footer strong {
    color:#ff4500;
}